/* This CSS stylesheet will be implemented for all pages. It changes the background color */

body {
  background-color: rgb(31, 31, 31);
}

h1,h2,h3,p,b {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=text], input[type=password] {
 border: 2px solid black;
 border-radius: 5px;  
 margin-top: 10px;
 font-size: 24px;
}

.button {
  background-color: #40026f; /* Purple */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #40026f;
  border-radius: 5px;
}

.button1:hover {
  background-color: #40026f;
  color: white;
}